
html,body{

    font-family: "Geshin_Impact" , sans-serif;
    color: #000000;
    line-height: 150%;
}
.body{
    
}

.wrapper{
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.header{
background-color:#cab98e;

}

.container{
    max-width: 1460px;
    height: 100%;
    padding: 0px 15px;
    margin: 0px auto;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    display: flex;
    width: 180px;
    height: 100px;
    
}

.header__logo-logo{
max-width: 100%;
min-height: 100%;
border-radius: 70%;
}

.header__nav-list{
    display: flex;

}

.header__nav-item{
    font-size: 20px;
    margin-right: 15px;
}

.header__nav-item:last-child{
    margin-right: 0;
}

.header__reg{
display: flex;
font-size: 20px;
margin-right: 15px;

}

.header__reg-text{
    padding: 0 5px ;
}

.header__item-link{
    transition: all .3s;
}

.header__item-link:hover{
    color: #fff;
}

.header__reg-link{
    transition: all .3s;
    
    cursor: pointer;
}

.header__reg-link:hover{
    color: #fff;
}

.message__inner.active{
    display: block;
}

.message__inner{
    position: fixed;
    top: 250px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
    display: none;

}

.message{
    background: #cdba8de3;
    padding: 60px 90px;
    border-radius: 15px;
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.close__message{
    position: absolute;
    top: 9px;
    right: 22px;
    font-size: 37px;
    color: black;
    cursor: pointer;
}

.message__title{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 15px;
}

.form__input{
    margin-top: 25px;
}


.form__input-link{
    display: block;
    margin: 0 auto 15px;
    width: 300px;
    border: 1px solid #afafaf;
    border-radius: 10px;
    padding: 15px 25px;
}

.main{
    background-image: url("../images/digital-art-style-river-nature-landscape.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    position: relative;
    z-index: -1;
}
.main__main{
    margin-bottom: 50px;
}
.main::before{
    content: "";
    width: 100%;
    height: 100%;
    background-size: 100%;
    filter: blur(5px);
    position: absolute;
    background-attachment: fixed;
    background-image: inherit;
    z-index: -1;
}

.main__main-main{
    position: relative;
    width: 100%;
    height: 100%;      
}

.main__container{
    
    max-width: 1260px;
    height: 100%;
    padding: 0px 15px;
    margin: 0px auto;
}
/*
.main__main-main::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    filter: blur(5px);
    z-index: -1;
}


    background: url("../images/digital-art-style-river-nature-landscape.jpg") 100% / 100% no-repeat*/
.main__inner{
    display: flex;

}

.main__img-inner{
    min-width: 600px;
    min-height: 800px;
}

.main__photo{
    min-width: 500px;
    min-height: 700px;
}

.main__content{
    padding: 15px 15px ;
    background-color: #f3edd6;;
    border: #cab98e 3px solid;
    border-bottom-right-radius: 5% ;
    border-bottom-left-radius: 5% ;
}
.main__content-inner{
    padding-top: 20px;
}
.main__top-aboutus{
    display: inline;
}

.number-title{
    background-color: #cf6048;
    display: inline-block;
    font-size: 50px;
    padding: 30px 30px;
    border-radius: 5%;
    margin-right: 30px;
}
.content-title{
    display: inline;
    font-size: 50px;
    border-bottom: #e7d4c6 5px solid;

}

.gensh{
    padding: 15px;
    font-weight: 700;
    font-size: 16px;

}

.main__png-inner{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 596px ;
    max-height: 70px;
}

.png{
    padding-top: 20px;
width: 50%;
height: 100%;
}


/*--------------------------------------------------------*/

.info{
    padding-bottom: 50px;
}

.container__info{
    background-color: #f3edd6;
    border-radius: 5%;
    padding: 55px 55px;
    border: #cab98e 3px solid;
}
.info__inner-1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}
.info__img-inner-1{
    display: flex;
    padding-right: 20px;
    min-width: 600px;
    min-height: 1000px;
}
.info__photo-1{
    width: 100%;
    height: 100%;
    
    border: #cab98e 3px solid;
    border-radius: 5%;
}

.info__inner-2{
    display: flex;
    justify-content: space-between;
}
.info__img-inner-2{
    display: flex;
    padding-left: 20px;
    min-width: 624px;
    min-height: 714px;
}
.info__photo-2{
    width: 100%;
    height: 100%;
    
    border: #cab98e 3px solid;
    border-radius: 5%;
}



.footer{
    color: #000000;
}

.footer__top{

    background-color:#cab98e;
    padding: 10px 0 60px;
}